/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  //background: white;
  color: black;
  background: radial-gradient(at 50% 60%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);
}
