// GENERATED

import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';
import { <%= geometry %>Directive } from './<%= dasherize(geometry) %>.directive';

@NgModule({
  declarations: [<%= geometry %>Directive],
  imports: [CommonModule],
  exports: [<%= geometry %>Directive],
})
export class Three<%= geometry %>Module {}
