// GENERATED

import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';
import { <%= name %>Directive } from './<%= dasherize(name) %>.directive';

@NgModule({
  declarations: [<%= name %>Directive],
  imports: [CommonModule],
  exports: [<%= name %>Directive],
})
export class Three<%= name %>Module {}
